{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">
    <div class="author__avatar">
        <a href="{{ site.url }}">
            <img src="{{ author.avatar | absolute_url }}" class="author__avatar u-photo mfp-image" alt="{{ author.name }}" itemprop="image">
        </a>
    </div>
    <div class="author__content">
        <h3 class="author__name" itemprop="p-name name fn n">
            <a class="u-url url p-uid uid" itemprop="url" href="{{ site.url }}">
                <span class="p-given-name given-name" itemprop="givenName">Andrew</span>
                <span class="p-additional-name additional-name" itemprop="additionalName">David</span>
                <span class="p-family-name family-name" itemprop="familyName">Wong</span>
            </a>
        </h3>
        <ul class="author__bio" itemprop="description">
            <li>
                <span class="p-job-title" itemprop="jobTitle">CEO</span>, 
                <span itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
                    <a href="https://invisiblethingslab.com/" itemprop="url">
                        <span class="p-org org" itemprop="name">Invisible Things Lab</span>
                    </a>
                </span>
            </li>
            <li>
                <span class="p-job-title" itemprop="jobTitle">Community Manager</span>,
                <span itemprop="worksFor" itemscope itemtype="https://schema.org/Organization">
                    <a href="https://www.qubes-os.org/" itemprop="url">
                        <span class="p-org org" itemprop="name">Qubes OS</span>
                    </a>
                </span>
            </li>
            <li>Ph.D.,
                <span class="" itemprop="alumniOf" itemscope itemtype="https://schema.org/EducationalOrganization">
                    <a href="https://ucsd.edu" itemprop="url">
                        <span class="p-org org" itemprop="name">University of California, San Diego</span>
                    </a>
                </span>
            </li>
            <li>A.B.,
                <span class="" itemprop="alumniOf" itemscope itemtype="https://schema.org/EducationalOrganization">
                    <a href="https://wustl.edu" itemprop="url">
                        <span class="p-org org" itemprop="name">Washington University in St. Louis</span>
                    </a>
                </span>
            </li>
            <li>
                <a href="{{ site.url }}/cv" title="Curriculum Vitae">Full Curriculum Vitae</a>
            </li>
        </ul>
        <div class="author__urls-wrapper">
            <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Contact" }}</button>
            <ul class="author__urls social-icons">
              {% if author.location %}
                <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
                  <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
                </li>
              {% endif %}
              <li>
                <a class="u-email email" itemprop="email" rel="me" href="mailto:adw@andrewdavidwong.com">
                    <meta itemprop="email" content="adw@andrewdavidwong.com">
                    <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i>adw@andrewdavidwong.com
                </a>
              </li>
              <li>
                <a class="u-email email" itemprop="email" rel="me" href="mailto:adw@invisiblethingslab.com">
                    <meta itemprop="email" content="adw@invisiblethingslab.com">
                    <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i>adw@invisiblethingslab.com
                </a>
              </li>
              <li>
                <a class="u-email email" itemprop="email" rel="me" href="mailto:adw@qubes-os.org">
                    <meta itemprop="email" content="adw@qubes-os.org">
                    <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i>adw@qubes-os.org
                </a>
              </li>
              <li>
                <a href="https://twitter.com/andrewdavidwong" itemprop="sameAs">
                  <i class="fa fa-fw fa-twitter" aria-hidden="true"></i>Twitter
                </a>
              </li>
              <li>
                <a href="https://github.com/andrewdavidwong" itemprop="sameAs">
                  <i class="fa fa-fw fa-github" aria-hidden="true"></i>GitHub
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/andrewdwong" itemprop="sameAs">
                  <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>LinkedIn
                </a>
              </li>
              <li>
                <a href="https://keybase.io/adw" itemprop="sameAs">
                  <i class="fa fa-fw fa-key" aria-hidden="true"></i>Keybase
                </a>
              </li>
              <li>
                  <a class="u-key key" rel="pgpkey" type="application/pgp-keys" href="{{ site.url }}/adw.asc"
                     title="OpenPGP public key">
                    BBAF 910D 1BC9 DDF4 1043<br>629F BC21 1FCE E9C5 4C53
                  </a>
              </li>
            </ul>
        </div>
    </div>
</div>
