<div class="push"></div>
<hr>
<div id="footer">
  <div class="grow">
    <a title="GitHub" href="https://github.com/andrewdavidwong"
       class="icon-footer icon-github p-url url" itemprop="sameAs" rel="me"></a>
  </div><div class="grow">
    <a title="LinkedIn" href="https://www.linkedin.com/in/andrewdwong"
       class="icon-footer icon-linkedin p-url url" itemprop="sameAs" rel="me"></a>
  </div><div class="grow">
    <a title="Academia.edu" href="https://ucsd.academia.edu/wong"
       class="icon-footer icon-font p-url url" itemprop="sameAs" rel="me"></a>
  </div><div class="grow">
    <a title="Twitter" href="https://twitter.com/andrewdavidwong"
       class="icon-footer icon-twitter p-url url" itemprop="sameAs" rel="me"></a>
  </div><div class="grow">
    <a title="Keybase" href="https://keybase.io/adw"
       class="icon-footer icon-key p-url url" itemprop="sameAs" rel="me"></a>
  </div><div class="grow">
    <a title="Coinbase" href="https://www.coinbase.com/adw"
       class="icon-footer icon-bitcoin p-url url" itemprop="sameAs" rel="me"></a>
  </div><div class="grow">
    <a title="Blockchain ID" href="https://onename.com/adw"
       class="icon-footer icon-chain p-url url" itemprop="sameAs" rel="me"></a>
  </div>
  <div id="copyright">
    Copyright &#169; 2012&#8211;<script type="text/javascript">document.write(new Date().getFullYear());</script><noscript>2017</noscript>
    Andrew David Wong. All rights reserved.<br>
    <a title="OpenPGP Public Key" rel="pgpkey" type="application/pgp-keys" href="{{ site.url }}/adw.asc">PGP Key</a> |
    <a title="Other OpenPGP Fingerprints" href="{{ site.url }}/fingerprints.txt">Fingerprints</a> |
    <a title="vCard" href="{{ site.url }}/adw.vcf">vCard</a> |
    <a title="Sitemap" href="{{ site.url }}/sitemap.xml">Sitemap</a>
  </div>
</div>
<!-- Navigation Bar Scripts (consolidated and minified) -->
<script type="text/javascript" async src="{{ site.url }}/nav.min.js"></script>
