<header>
  <a class="plain u-url url p-uid uid" itemprop="url" href="{{ site.url }}">
    <h1 class="p-name name fn n" itemprop="name">
      <span class="p-given-name given-name" itemprop="givenName">Andrew</span>
      <span class="p-additional-name additional-name" itemprop="additionalName">David</span>
      <span class="p-family-name family-name" itemprop="familyName">Wong</span>
    </h1>
  </a>
  <!-- Navigation Bar -->
  <nav class="clearfix">
    <a id="name" href="{{ site.url }}">Andrew David Wong</a>
    <div id="pull">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="clearfix">
      <li><a href="{{ site.url }}" id="nav-current">HOME</a></li>
      <li><a href="{{ site.url }}/cv/">CV</a></li>
      <li><a href="{{ site.url }}/research/">RESEARCH</a></li>
      <li><a href="{{ site.url }}/teaching/">TEACHING</a></li>
    </ul>
  </nav>
</header>
